@import url('./_active/header__lang-link_selected.css');

.header__lang-link {
    grid-area: link2;
    align-self: end;
    text-decoration: none;
}

.header__lang-link:hover {
    cursor: pointer;
}
