@import url('../lead/__subtitle/lead__subtitle.css');

.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: content-box;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
    min-width: 80vw;
}

@media screen and (max-width: 320px){
    .lead {
        min-height: 80vh;
    }

    .lead__title {
        max-width: 288px;
        font-weight: 900;
        font-size: 16px;
        line-height: 2.75rem;
    }

    .lead__subtitle {
        max-width: 288px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25rem;
        margin: 16px auto;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px){
    .lead {
        min-height: 60vh;
    }

    .lead__title {
        max-width: 350px;
        font-weight: 900;
        font-size: 18px;
        margin: 0 auto;
    }

    .lead__subtitle {
        max-width: 350px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.25rem;
        margin: 32px auto;
    }
}

@media screen and (min-width: 769px){
    .lead {
        min-height: 70vh;
    }

    .lead__title {
        max-width: 720px;
        font-weight: 900;
        font-size: 30px;
        line-height: 6.25rem;
        margin: 0 auto;
    }

    .lead__subtitle {
        max-width: 640px;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        margin: 32px auto;
    }
} 

@media screen and (min-width: 1025px) {
    .lead {
        min-height: 70vh;
    }

    .lead__title {
        max-width: 720px;
        margin: 0 auto;
    }

    .lead__subtitle {
        max-width: 640px;
        margin: 32px auto;
    }
} 
