@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');

.intro {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 320px){
    .intro {
        max-width: 288px;
        margin: 64px auto 64px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 0 40px;
    }
}

@media screen and (min-width: 321px) and (max-width: 345px){
    .intro {
        max-width: 288px;
        margin: 64px auto 64px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 0 40px;
    }
}

@media screen and (min-width: 345px) and (max-width: 768px){
    .intro {
        max-width: 90%;
        margin: 88px auto 88px;
    }

    .intro__title {
        font-size: 54px;
        line-height: 3.625rem;  
        margin: 0 0 40px;
    }

    .intro__text {
        max-width: 720px;
    }

    .intro__list {
        margin: 0 auto 68px;
    }
}

@media screen and (min-width: 769px){
    .intro {
        max-width: 90%;
        margin: 88px auto 88px;
    }

    .intro__title {
        font-size: 54px;
        line-height: 3.625rem;  
        margin: 0 0 40px;
    } 

    .intro__text {
        max-width: 690px;
    }

    .intro__list {
        margin: 0 0 92px;
    }
} 

@media screen and (min-width: 1025px){
    .intro {
        max-width: 984px;
        margin: 92px auto 92px;
    }
} 
