@import url('./__url-heading/website__url-heading.css');
@import url('./__link/website__link.css');

.website {
    padding: 0;
}

@media screen and (max-width: 320px){
    .website {
        min-width: 288px;
        margin: 0;
        justify-content: start;
    }

    .website__url-heading {
        margin: 32px auto 0;
    }

    .website__link {
        margin: 12px auto 32px;
    }
}

@media screen and (min-width: 321px) and (max-width: 725px){
    .website {
        min-width: 288px;
        margin: 0;
        justify-content: start;
    }

    .website__url-heading {
        margin: 32px 24px 0;
    }

    .website__link {
        margin: 12px 24px 32px;
    }
}

@media screen and (min-width: 725px) and (max-width: 960px){
    .website {
        margin: 0;
    }

    .website__url-heading {
        margin: 0;
        align-self: end;
    }

    .website__link {
        margin: 12px 0 32px;
        align-self: end;
    }
} 

@media screen and (min-width: 960px) and (max-width: 1024px){
    .website {
        margin: 0;
    }

    .website__url-heading {
        margin: 0;
        align-self: end;
    }

    .website__link {
        margin: 12px 0 32px;
        align-self: end;
    }
} 

@media screen and (min-width: 1025px){
    .website {
        margin: 0;
    }

    .website__url-heading {
        margin: 0;
        align-self: end;
    }

    .website__link {
        margin: 12px 0 32px;
        align-self: end;
    }
} 