@import url('../__label/cover__label.css');

.cover__background {
    margin: auto;
    opacity: 60%;
}

.cover__background:hover {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}
