@import url('./__copyright/footer__copyright.css');

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0;
}
