@import url('./__links/footer__links.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}


@media screen and (max-width: 320px){
    .footer {
        display: block;
        margin: 0 16px 24px;
    }

    .footer__links {
        max-width: 250px;
        margin: 0 0 48px;
    }

    .footer__link {
        margin-bottom: 32px;
    }

    .footer__link:nth-last-child(1) {
        margin-bottom: 0;
    }

    .footer__copyright {
        text-align: left;
        margin: 0;
    }
}

@media screen and (min-width: 321px) and (max-width: 699px){
    .footer {
        display: block;
        margin: 0 16px 24px;
    }

    .footer__links {
        max-width: 500px;
        margin: 0 0 48px;
    }

    .footer__link {
        margin-bottom: 32px;
    }

    .footer__link:nth-last-child(1) {
        margin-bottom: 0;
    }

    .footer__copyright {
        text-align: left;
        margin: 0;
    }
}
@media screen and (min-width: 700px) and (max-width: 723px){
    .footer {
        display: flex;
        flex-wrap: wrap;
        margin: 0 24px 24px;
    }

    .footer__links {
        display: flex;
        flex-direction: row;
    }

    .footer__link {
        margin-right: 18px;
    }

    .footer__link:nth-last-child(1) {
        margin-right: 0;
    }

    .footer__copyright {
        margin: 32px 0 0;
        text-align: left;
    }
}

@media screen and (min-width: 724px) and (max-width: 960px){
    .footer {
        display: flex;
        flex-wrap: wrap;
        margin: 0 24px 24px;
    }

    .footer__links {
        display: flex;
        flex-direction: row;
    }

    .footer__link {
        margin-right: 18px;
    }

    .footer__link:nth-last-child(1) {
        margin-right: 0;
    }

    .footer__copyright {
        text-align: right;
        margin: 0;
    }
} 

@media screen and (min-width: 960px) {
    .footer {
        display: flex;
        margin: 0 48px 24px;
    }

    .footer__links {
        display: flex;
        flex-direction: row;
        max-width: 500px;
        margin: 0;
    }

    .footer__link {
        margin-right: 18px;
    }

    .footer__link:nth-last-child(1) {
        margin-right: 0;
    }

    .footer__copyright {
        text-align: right;
    }
}
